# local files
notes_to_apply.md
.tmp
*egg-info

# data
*data
/assets/local/datasets/
*.tar.gz
*.tar
*.zip

# python
__pycache__ 
.pytest_cache
.vscode
.to_delete
.pym2aia_prefs.xml

# notebooks
*.ipynb diff=jupyternotebook
